<div style='display:flex;'>
  <div class="tab-1 active">
    Offers
  </div>
  <div class="tab-2">
    Orders
  </div>
  <div class="tab-3">
    Pending Orders
  </div>
</div>




<div class="tab_contents container_card_offer active">
  <h2>Hello here are your offers : </h2>
  <% @offers.each do |offer| %>
    <div class="offer-card">
      <div class="offer-card-pic">
        <%= cl_image_tag offer.photos[0].key%>
      </div>
      <div class="offer-card-infos">
        <h3><%= offer.title %></h3>
        <p><%= offer.description %></p>
        <div class="offer-card-price">
          <p><%= offer.price %> DogeCoin</p>
        </div>
      </div>
      <div class="offer-card-modif">
          <%= link_to "Edit Offer", edit_offer_path(offer.id), class: "btn btn-success btn-offer"  %>
          <%= link_to "Delete Offer", offer_path(offer.id), method: :delete, data: { confirm: "Are you sure ?" }, class: "btn btn-success btn-offer delete_btn" %>
      </div>
    </div>
  <% end %>
</div>

<div class="tab_contents container_card_reserv">
  <h2>Here are your reservations :</h2>
  <% @reservations.each do |reserv| %>
    <div class="reserv-card">
      <div class="reserv-card-pic">
        <%= cl_image_tag reserv.offer.photos[0].key%>
      </div>
      <div class="offer-card-infos">
        <h3><%= reserv.offer.title %></h3>
        <p><%= reserv.specs %></p>
        <p><%= reserv.start_date %></p>
        <p><%= reserv.end_date %></p>
      </div>
      <div class="offer-card-modif">
          <%= link_to "Edit reservation", edit_offer_reservation_path(reserv.offer.id, reserv.id), class: "btn btn-success btn-offer"  %>
          <%= link_to "Delete Reservation", offer_reservation_path(reserv.offer.id, reserv.id), method: :delete, data: { confirm: "Are you sure ?" }, class: "btn btn-success btn-offer delete_btn" %>
      </div>
    </div>
  <% end %>
</div>
