<h1>Hello here are your offers : </h1>

<div class="container">
  <% @offers.each do |offer| %>
    <div class="offer-card">
      <div class="offer-card-pic">
        <img src="https://source.unsplash.com/random" alt="">
      </div>
      <div class="offer-card-infos">
        <h2><%= offer.title %></h2>
        <p><%= offer.description %></p>
        <div class="offer-card-price">
          <p><%= offer.price %> DogeCoin</p>
        </div>
      </div>
      <div class="offer-card-modif">
          <%= link_to "Edit Offer", edit_offer_path(offer.id), class: "btn btn-success btn-offer"  %>
          <%= link_to "Delete Offer", offer_path(offer.id), method: :delete, data: { confirm: "Are you sure ?" }, class: "btn btn-success btn-offer" %>
      </div>
    </div>
  <% end %>

<p>

  <hr>


  <h2>Here are your reservations :</h2>

  <% @reservations.each do |reserv| %>
    <div class="reserv-card">
      <div class="reserv-card-pic">
        <img src="https://source.unsplash.com/random" alt="">
      </div>
      <div class="reserv-card-infos">
        <h2><%= reserv.offer.title %></h2>
        <p><%= reserv.specs %></p>
        <p><%= reserv.start_date %></p>
        <p><%= reserv.end_date %></p>
      </div>
      <div class="reserv-card-modif">
          <%= link_to "Edit reservation", edit_offer_reservation_path(reserv.offer.id, reserv.id), class: "btn btn-success btn-reserv"  %>
          <%= link_to "Delete Reservation", offer_reservation_path(reserv.offer.id, reserv.id), method: :delete, data: { confirm: "Are you sure ?" }, class: "btn btn-success btn-offer" %>
      </div>
    </div>
  <% end %>
</div>
