<div class="homepage">
    <div class="home-banner">
        <h1>MidgetNCo</h1>
        <%= link_to offers_path do %>
        <button>
            <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
                <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
                <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
            </svg>
            <span>Offers</span>
        </button>
        <% end %>

        <%= link_to new_offer_path do %>
        <button>
            <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
                <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
                <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
            </svg>
            <span>Midget</span>
        </button>
        <% end %>
    </div>
</div>
    <div class="home_description">
        <div class="section">
            <div class="map">
                <div id="map"
                style="width: 100%; height: 600px;"
                data-markers="<%= @markers.to_json %>"
                data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
            </div>
            <div class="knowus">
                <h3>hola todos</h3>
                <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 15 %>
            </div>
            <div class="policies">
                <h3>hola todos</h3>
                <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 10 %>
            </div>
            
        </div>
    </div>
</div>
