<div class="page-container">
<div class="filter-container">
  <div class="filters">
    <%= link_to "Create new offer", user_signed_in? ? new_offer_path : new_user_registration_path, class: "text-decoration-none btn btn-success mb-4" %>
    <p>Activity</p>
    <p>Price range</p>
    <p>Deplacement</p>
    <p>calendar</p>
    <p>submit</p>
  </div>
  </div>
  <div class="card-container">
    <% @offers.each do |offer| %>
      <div class="card">
        <img src="https://source.unsplash.com/random" alt="">
        <div class="description-container">
          <h4><%= offer.title %></h4>
          <p class="offer-description"><%= offer.description %></p>
          <p class="card-price"><%= offer.price %> DogeCoin</p>
          <p><%= link_to 'Book The Midget !', offer, class: "text-decoration-none btn btn-success"%></P>
        </div>
      </div>
    <% end %>
  </div>
</div>
