<div class="background___body">
  <div class="banner-title-show">
    <h2><%= @offer.title %></h2>
  </div>
  <div class="photos-and-infos">
    <% if @offer.photos.attached? %>
      <%= cl_image_tag @offer.photos[0].key%>
    <% end %>
    <div class="img-container-show">
      <% if @offer.photos.attached? %>
        <% @offer.photos.drop(1).each do |photo| %>
          <%= cl_image_tag photo.key, class: 'img-show', crop: :fill %>
        <% end %>
      <% end %>
    </div>
    <div class="description-and-book">
      <div class="description-show">
        <p>Description of the offer : <%= @offer.description %></p>
        <p>Midget mail : <%= @offer.user.email %></p>
        <span class="pt-3 pb-3 pr-1"><%= @offer.price %> DogeCoins</span>
      </div>
      <%= link_to new_offer_reservation_path(@offer), class: "link-book"  do %>
        <div class="book-show mt-5">
          <p>Book This Midget !</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
