<!DOCTYPE html>
<html>
  <head>
    <title>MidgetNCo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    
   

    <%= yield %>
    
    <footer>
      <ul class="social" id="social">
        <li class="fb"><a href="https://fr-fr.facebook.com/"><%= icon('fab', 'facebook') %></a></li>
        <li class="insta"><a href="https://twitter.com/?lang=fr"><%= icon('fab', 'instagram') %></a></li>
        <li class="twitter"><a href="https://www.instagram.com/?hl=fr"><%= icon('fab', 'twitter') %></a></li>
        <li class="snap"><a href="https://www.snapchat.com/l/fr-fr/download"><%= icon('fab', 'snapchat') %></a></li>
      </ul>
      <p class="copyright"><%= icon('fas', 'copyright') %> Copyright by Vims</p>
    </footer>
  </body>
</html>
